body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #2D3A3A;
    color: #FCFFFC;
}

.personSelector {
    margin: 5px;
}

.resultList {
    display: flex;
    flex-wrap: wrap;
}

.column {
    text-align: center;
    flex: 1;
    border: 1px solid #3e8f3e;
    padding: 20px;
    margin: 5px;
    background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
    border-radius: 10px;
}

.column .person {
    padding: 5px;
    font-size: 18px;
}

.non-break {
    white-space: nowrap;
}