body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.selected {
    background-color: #999999;
}

.resultList {
    display: flex;
    flex-wrap: wrap;
}

.column {
    text-align: center;
    flex: 1;
    border: 1px solid black;
    padding: 30px;
}

.column .person {
    padding: 5px;
}